body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--padrão-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

:root {
  --text: #ffffff;
  --padrão-background: #82cdff;
  --owencolor: #707070;
  --raulcolor: #0099ff;
  --owen-background: #dbf1ff;
  --shadow: #000000;
}

.winner-title {
  width: 430px;
  height: 74px;
  background-color: var(--raulcolor);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  font-weight: 700;
  border-radius: 12px 12px 0 0;
}

.scoreboard {
  width: 950px;
  height: 148px;
  background-color: var(--raulcolor);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 17px;
}

.scoreboard-player-name {
  color: var(--text);
  font-size: 38px;
  font-weight: 700;
}

.score {
  width: 130px;
  height: 120px;
  background-color: var(--owen-background);
  border-radius: 17px;
  font-size: 104px;
  line-height: 120px;
  text-align: center;
  color: var(--raulcolor);
}

.vs-small {
  color: var(--text);
  font-weight: 900;
  font-size: 58px;
  margin: 0 10px;
}

.battle-field {
  margin-top: 56px;
  height: 414px;
  display: flex;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button {
  width: 220px;
  height: 80px;
  background-color: var(--raulcolor);
  font-size: 44px;
  color: var(--text);
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 10px var(--shadow);
  transition: 300ms;
}

.button:hover {
  border: 1px solid var(--raulcolor);
  background-color: transparent;
  color: var(--raulcolor);
}

.field-box {
  width: 1313px;
  height: 414px;
  background-color: var(--raulcolor);
  margin: 0 19px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  box-sizing: border-box;
}

.field {
  width: 464px;
  height: 345px;
  background-color: var(--owen-background);
  border-radius: 17px;
}

.vs-big {
  font-size: 104px;
  color: var(--text);
  font-weight: 900;
}

.config {
  margin-top: 22px;
}

.button-reset {
  margin-left: 101px;
}
